*{
	margin:0;
	padding:0;
	font-family:Poppins;
}
body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://look.com.ua/pic/201707/1920x1080/look.com.ua-225266.jpg") !important;
	
}
ul{
	float:right;
	list-style-type:none;
	margin-top:25px;
}
ul li{
	display:inline-block;
}
ul li a{
	text-decoration:none;
	color:#fff;
	padding:5px 20px;
	border:1px solid transparent;
	transition: 0.6s ease;
	font-size:17px;
}
ul li a:hover{
	color:#000;
}
.main{
	max-width:1200px;
	margin-left:11.1%;
	margin-top:1.5%;
}
.carousel-inner{
	max-height:600px;
	max-width:1000px;
	margin-left:18%;
	margin-top:5%;
	border-radius:5%;
	border:2px solid black;
}
footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
	position: relative;
	top: 100px;
}

.aboutFooter {
	position: relative;
	top: 400px;
}
